@media screen and (max-width:480px) {
    .layout {
        margin: 0;
     overflow-x: hidden;

    }
    .background-product {
        display: none;
    }
    .main-layout,.main-layout__title {
        margin: 0;
    }
    .main-layout__title {
        font-size: 65px;
    }
    .navbar-brand {
        margin:0 60px 0 0;
    }
    .main-layout__title {
        width: 100%;
    }
    .main-instruction__sushi img {
        display: none;
    }
    .testimonials-section__food img,
    .section-subscribe__burger img {
        width: 200px;
        height: auto;
    }
}
